* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(74, 128, 209);
    height: 200px;
    width: 100%;
    align-content: center;
    justify-items: center;
}

nav {
    background-color: rgb(243, 243, 243);
    align-content: center;
    justify-items: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    height: 10%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li a:hover {
    background-color: #c04444;
}