body {
    background-color: #ffcc66;
    background-image: url("image.extension");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*.image.extension {
    width: 350px;
    height: 400px;
}*/

h1 {
    color: #990000;
    background-color: #fc9804;
    text-align: center;
    font-family: 'Courier New';
}

p {
    color:#ce8930;
    font-style: italic;
    /*text-decoration: underline;*/
}

.bold-word {
    font-weight: bold;
}

.paragrafo2 {
    color: rebeccapurple;
    background-color:azure;
    font-family: 'Courier New';
}
